<div class=post-content>
  <%= @post.content %>
</div>
<%= form_for post do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <%= f.label "Content" %>
  <%= f.text_area :content %><br>
  <h2><%= f.label "These are the existing categories" %><br></h2>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>
 <h2> <%= f.label "Or create a new category"%><br></h2>
 <%# The fields_for helper takes two arguments: the associated model that we're creating 
 and an object to wrap around. In this case, we've passed in the :categories association 
 and built an empty category associated with the post. %>
  <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %><br>
  <% end %>
  <%= f.submit %>
<% end %>
